.cart {
  grid-template-columns: 2fr 1fr;
  grid-template-rows: repeat(2, min-content);
  gap: 2rem;
  padding: 0 10rem;
}

.cart--title {
  margin: 2rem 4.5rem;
  font-size: 1.7rem;
}

.cart--item {
  display: grid;
  grid-template-columns: 12rem repeat(3, 0.5fr);
  gap: 1.2rem;
  justify-self: center;
  background-color: rgb(253, 251, 248);
  padding: 2rem;
  border-radius: 1.7rem;
}

.cart--item__img img {
  height: 10rem;
  width: 10rem;
  border-radius: 0.5rem;
}

.cart--item__details {
  display: grid;
  grid-template-rows: repeat(4, max-content) 0.5fr;
  gap: 2rem;
}

.cart--item__details h2 {
  text-transform: uppercase;
  font-size: 1.4rem;
}

.cart--item__details h3 {
  font-size: 1rem;
  font-weight: 500;
}

.cart--item__change,
.cart--item__remove {
  background-color: var(--rainy-color);
  border: none;
  color: #FFF;
  padding: 0.7rem;
  font-family: 'albert sans', sans-serif;
  font-size: 1.2rem;
  width: 12rem;
  border-radius: 3rem;
  text-align: center;
}

.cart--item__price span, p {
  display: block;
  font-size: 1.2rem;
  font-weight: 700;
  margin-top: 1.4rem;
}

.cart--item__qty input {
  font-weight: 700;
  font-size: 1rem;
  width: 2.7rem;
  padding: 0.5rem;
  margin-top: 1rem;
  border-radius: .3rem;
  font-family: 'albert sans', sans-serif; 
}

.cart__summary {
  display: grid;
  padding: 2.5rem;
  gap: 1.7rem;
  justify-self: center;
}

.cart__summary input {
  background-color: var(--rainy-color);
  border: none;
  color: #FFF;
  padding: .6rem;
  font-family: 'albert sans', sans-serif;
  font-size: 1.2rem;
  width: 15rem;
  border-radius: 3rem;
  align-self: center;
  justify-self: center;
}


.cart__summary--sub,
.cart__summary--deliv,
.cart__summary--tax,
.cart__summary--tot, h2 {
  display: grid;
  grid-template-columns: 2fr .2fr;
  gap: 1.3rem; 
  font-weight: 600;
 }

 .cart__summary--bonus {
  font-weight: 500;
  font-size: 1.3rem;
  margin: 0;
 }

 .cart__summary--bonus span {
  color: var(--rainy-color);
 }