.hero {
  display: grid;
  grid-template-columns: repeat(3, minmax (300px, 350px));
  grid-template-rows: 1fr;
  gap: 2em;
  justify-content: center;
  background: linear-gradient(121deg, #FFF6ED 23.7%, #F1F1F1 137.95%);
  box-shadow: 1px 2px 25px 4px lightgrey;
  border-radius: 1.5rem;
}

.hero__content {
  grid-column: 1 / 2;
  padding: 2rem;
}
.hero__content h1, h2, p, button {
  margin: .8rem;
}

.hero h1 {
  text-transform: uppercase;
  font-size: 3rem;
}

.hero__img {
  grid-column: 2 / 4;
  justify-self: center;
  align-self: center;
}

.hero__img-green img{
  max-height: 200px;
  width: auto;
  border-radius: 10px;
}

/*-----------------*----------------HIGHLY*-----------------*/

.highly-rated {
  display: grid;
  grid-template-columns: repeat(4, minmax (250px, 300px));
  grid-row: 1fr;
  gap: 1rem;
}

.highly-rated__content--title {
justify-self: start;
margin: 0 0 .8rem 0;
font-family: 'alexandria';
font-size: 2rem;
}

.highly-rated__img-jackets {
  display: flex;
  gap: 1rem;
}

.highly-rated__img-jackets img {
  width: 100%;
  border-radius: 10px;
}

.highly__rated--title {
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
font-size: .8rem;
}

.pushing__cards  {
  display: grid;
  grid-template-columns: repeat(2, minmax (250px, 300px));
  gap: 1rem;
}

.pushing__cards .gender__style {
  font-weight: 300;
}

.pushing__cards--img-styling img,
.pushing__cards-card img {
width: 100%;
border-radius: 10px;
height: 25rem; 
object-fit: cover;
}

.pushing__cards-card span{
  grid-column: 1 /2;
  font-weight: 600;
}

.pushing__cards--img-styling {
  grid-column: 2/2;
}

.pushing__title {
  justify-self: center;
  margin: 0 0 .8rem 0;
  font-family: 'alexandria';
  font-size: 2.3rem; 
}
 

.socials__imgs {
  display: grid;
  gap: .6rem;
  grid-template-columns: repeat(3, minmax (250px, 300px));
  grid-template-areas:
 "img-1 img-2 img-3";
}

.socials img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.socials__img:nth-of-type(1) {
  grid-area: img-1;
}

.socials__img:nth-of-type(2) {
  grid-area: img-2;
}

.socials__img:nth-of-type(3) {
  grid-area: img-3; 
}

.socials > p {
  margin: 0 0 .8rem 0;
}

.socials__title {
  margin: 0;
}

