.payment-wrapper {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
align-items: center;
gap: 4rem;
}

.payment-checkout,
.pay__checkout--form,
.pay__checkout--card-info,
..pay__checkout--btn {
  display: flex;
  flex-direction: column;
  row-gap: 2rem;
  justify-content: space-around;
  
}

.pay__checkout--radio img {
  width: 3rem;
  height: auto;
  margin: 1rem;
}

.pay__checkout--radio {
  display: flex;
  justify-content: center;
}


.pay__checkout--card-info fieldset,
.pay__checkout--form fieldset {
  display: flex;
  gap: 2rem;
  padding: .8rem;
  border: none;
}

.pay__checkout--card-info input,
.pay__checkout--form input {
  padding: .8rem;
  flex-grow: 1;
  font-family: 'albert sans', sans-serif;
  font-size: 1.3rem;
  border-radius: .8rem;
}


.pay__checkout--form__country #country {
  display: flex;
  padding: 1rem;
  font-family: 'albert sans', sans-serif;
  font-size: 1.3rem;
  border-radius: .8rem;
}

.pay__checkout--btn input {
  display: flex;
  justify-self: center;
  padding: 1rem;
  font-family: 'albert sans', sans-serif;
  font-size: 1.1rem;
  margin: 1rem;
  background-color: var(--rainy-color);
  color: #FFF;
  border: none;
  border-radius: 2rem;
}