.payment-wrapper {
display: flex;
flex-wrap: wrap;
justify-content: space-evenly;
gap: 4rem;
}

.payment-checkout,
.pay__checkout--form,
.pay__checkout--card-info,
.pay__checkout--btn {
  display: flex;
  flex-direction: column;
  row-gap: 2rem; 
}

.pay__checkout--radio img {
  width: 3rem;
  height: auto;
  margin: 1rem;
}

.pay__checkout--radio {
  display: flex;
  justify-content: center;
}

.pay__checkout--card-info fieldset,
.pay__checkout--form fieldset {
  display: flex;
  gap: 2rem;
  padding: .8rem;
  border: none;
}

.pay__checkout--card-info input,
.pay__checkout--form input {
  padding: .8rem;
  flex-grow: 1;
  font-family: 'albert sans', sans-serif;
  font-size: 1.3rem;
  border-radius: .4rem; 
}

.pay__checkout--form__country #country {
  display: flex;
  padding: 1rem;
  font-family: 'albert sans', sans-serif;
  font-size: 1.3rem;
  border-radius: .4rem;
}

.pay__checkout--btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 12rem;
  height: 4rem;
  margin: 3rem;
  background-color: var(--rainy-color);
  border: none;
  border-radius: 2rem;
}

.pay__checkout--btn a{
font-size: 1.3rem;
}

.payment-checkout--card {
  padding: 10rem; 
  box-shadow: 1px 2px 25px 4px lightgrey;
  border-radius: 1.5rem;
}

.pay__checkout--form {
  padding: 10rem; 
  box-shadow: 1px 2px 25px 4px lightgrey;
  border-radius: 1.5rem;
}

.payment-checkout > h1 {
  font-size: 2.3rem;
}