.product__wrapper { 
  display: grid;
  grid-template-columns: 1fr;
  justify-self: center; 
}


.product__details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem 2rem;
  box-shadow: 1px 2px 25px 4px lightgrey;
  padding: 1.5rem;
  border-radius: 1.5rem;
}

.prod__jackets {
  display: grid;
  border-radius: 1.8rem;
  gap: 1rem;
}

.prod__jackets .jkt-1 {
  max-width: 8rem;
  border-radius: 1.5rem;
}

.prod__jackets .jkt-2 {
  max-width: 8rem;
  border-radius: 1.5rem;
}

.prod__jackets .jkt-3 {
  max-width: 8rem;
  border-radius: 1.5rem;
}


.card__img img {
  display: grid;
  grid-column: 1 / 2;
  max-width: 13rem;
  border-radius: 1.5rem;
  justify-self: end;
}

.btn-con {
  display: grid;
  grid-row: 2/ 3;
  justify-self: start;
  gap: 1rem;
}

.prod__text {
  display: grid;
  gap: .7rem;
  grid-row: 2 / 3;
}