.product__wrapper { 
  display: grid;
  grid-template-columns: 2fr;
  justify-self: center; 
}

.product__details {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  gap: 1rem 2rem;
  box-shadow: 1px 2px 25px 4px lightgrey;
  padding: 2rem;
  border-radius: 1.5rem;
}

.prod__jackets {
  display: grid;
  grid-column: 2 / span 1;
  align-items: center;
  border-radius: 1.8rem;
  gap: 1rem;
}

.prod__jackets .jkt-1 {
  max-width: 8rem;
  border-radius: 1.5rem;
}

.prod__jackets .jkt-2 {
  max-width: 8rem;
  border-radius: 1.5rem;
}

.prod__jackets .jkt-3 {
  max-width: 8rem;
  border-radius: 1.5rem;
}

.card__img img {
  display: grid;
  grid-column: 1 / 2;
  width: 13rem;
  border-radius: 1.5rem;
  justify-self: end;
}

.btn-con {
  display: grid;
  grid-row: 2/ 3;
  gap: 1.2rem;
  margin-top: 1.5rem;
  align-self: flex-start;
}

.prod__text {
  display: grid;
  gap: .7rem;
  grid-row: 2 / 3;
}

.radio-container {
  display: grid;
  max-width: min-content;
  justify-self: start;
  margin: 1rem 1rem 1rem 0;
}

.radio-btn {
  display: grid;
  grid-row: 1 / -1;
  width: 3rem;
  height: 3rem;
  text-align: center;
  font-size: .9rem;
  border: 1px solid #6C6969;
  border-radius: 50%;
  margin: 0.625rem;
  margin-left: 0;
  line-height: 47px;
  text-transform: uppercase;
  color: rgba(17, 51, 64, 0.8);
  cursor: pointer;
}

.radio-btn.checked {
background-color: rgba(17, 51, 64, 0.57);
color: #FFF;
}

.product__info{
  font-family: var(--font-family-heading);
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
}

.product__cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-self: center;
  gap: 2rem;
}

.like__wrapper {
  flex-wrap: wrap;
  justify-self: center;
  align-self: center;
}

.like__wrapper h2{
  margin: 0 0 2rem 0; 
}

.product--card {
  display: flex;
  flex-direction: column;
  gap: 1rem 2rem;
  box-shadow: 1px 2px 25px 4px lightgrey;
  padding: 1rem;
  border-radius: 1.5rem; 
}

.card__img img {
  height: 100%;
  width: 17rem;
  object-fit:cover;
  border-radius: 1rem;
}

.member__text {
  width: 38rem;
  height: 28rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2rem;
  box-shadow: 1px 2px 25px 4px lightgrey;
  border-radius: 1.5rem;
}

.member__signup {
  justify-self: center;
  background-color: rgba(179, 194, 192, 0.66);
  border-radius: 1rem;
}

.member__signup h3 {
  align-self: center;
  font-size: 1.7rem;
  font-family: 'alexandria', sans-serif;
}

.member__signup p {
  margin: 0 auto;
  font-size: 1.3rem;
}

