.cards__card {
  border: 0.8px solid black;
  max-width: 250px;
 
}

.cards__card img{
  width: 100%;
}


.rain-happens{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.rain-happens__img {
  width: 100%;
  border-radius: 10px;
}