
.products {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.products p {
  font-size: 1.2rem;
  font-weight: 200;
  margin: 0 0 2rem 0;
}
.product__info{
  font-family: var(--font-family-heading);
  font-size: 1.6rem;
  font-weight: 400;
  text-transform: uppercase;
}

.product__cards{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
}

.product--card {
  display: flex;
  flex-direction: column;
  gap: 1rem 2rem;
  box-shadow: 1px 2px 25px 4px lightgrey;
  padding: 1rem;
  border-radius: 1.5rem;
  
}

.card__img img {
  height: 100%;
  width: 17rem;
  object-fit:cover;
  overflow: hidden;
  border-radius: 1rem;
}


.card--buy {
  background-color: var(--rainy-color);
  color: #FFF;
  border-radius: 1rem;
  padding: .7rem 1.2rem;
  font-size: 1.1rem;
}
.card--article {
  font-size: 1.3rem;
  font-weight: 400;
 }

.card__info {
  font-size: 1rem;
  font-weight: 400;
}

.card__price {
  align-self: flex-start; 
}

.card--buy {
  align-self: flex-end; 
}

.card--buy:hover {
  background-color: rgba(47, 101, 103, 0.34);
  color: var(--rainy-color);  
}

.rain__container {
  position: relative;
  text-align: center;
}



.rain-happens__title{
  font-family: var(--font-family-heading);
  font-size: 2.5rem;
  text-transform: uppercase;
  position: absolute;
  top: 11rem;
  top: 20%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.rain-happens__img {
  max-width: 100%;
  border-radius: 0.625rem;
}